# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# --- IDE (VS Code) ---
.vscode/
# Note : Si tu veux partager tes réglages de "null safety", 
# utilise la règle qu'on a vue : 
# .vscode/*
# !.vscode/settings.json

# --- IDE (IntelliJ / Eclipse) ---
.idea/
*.iml
*.iws
.settings/
.project
.classpath
.factorypath

# --- OS / Systèmes ---
.DS_Store
Thumbs.db
*.swp
*.swo

# --- Selenium / Logs ---
bin/
logs/
*.log
# Si tu génères des screenshots en cas d'échec
screenshots/
# Si tu utilises un driver local pour tes tests hors Docker
chromedriver
geckodriver